/* * {
    outline: #ce8585 1px solid;
} */

#wpfront-notification-bar,
#wpfront-notification-bar-spacer {
    display: none !important;
    position: absolute !important;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(270deg, #101736, #01040f);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    -o-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
    max-width: 100%;
    overflow-x: hidden !important;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.bg-box {
    height: 70vh;
}

.navArea {
    position: fixed;
    background-color: #151b6e;
    top: 0;
    z-index: 300;
}

.endingArea {
    padding: 100px 0;
}

.bgStars,
.starBG {
    animation-name: stars;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -9;
    max-width: 100%;
}

@keyframes stars {
    0% {
        opacity: 30%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 30%;
    }
}

.starBG {
    position: fixed;
    z-index: -11;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.mainBg,
.mainFg,
.mainTitle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
    width: 100%;
}

.mainFg {
    top: 50%;
    z-index: -8;
}

.mainTitle {
    top: 15%;
    z-index: 100;
}

.eventMvBox {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%);
    z-index: -7;
}

.eventMv,
.eventMvL {
    position: absolute !important;
    top: 0;
    left: 0;
}

.eventMvL {
    animation-name: eventMvL;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
    transition: 1s;
}

@keyframes eventMvL {
    0% {
        opacity: 0;
        filter: brightness(0.5);
    }
    50% {
        opacity: 100%;
        filter: brightness(1.5);
    }
    100% {
        opacity: 0;
        filter: brightness(0.5);
    }
}

.planet01 {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -9;
}

.planet02 {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -9;
}

.starMoveBox {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}

@media (max-width:1200px) {
    .mainBg {
        content: url('https://image.mycard520.com/globalmycard/member/preregister/main/202211/webImg/bg-mb.png');
    }
    .eventMvBox {
        top: 25%;
    }
    .bg-box {
        height: 40vh;
    }
    .mainTitle {
        top: 10%;
    }
    .mainFg {
        top: 29%;
    }
}

@media (max-width: 992px) {
    .eventMvBox {
        top: 20%;
    }
    .bg-box {
        height: 30vh;
    }
    .mainTitle {
        top: 10%;
    }
    .mainFg {
        top: 29%;
    }
}

@media (max-width: 768px) {
    .eventMvBox {
        top: 30%;
    }
    .bg-box {
        height: 50vh;
    }
    .mainTitle {
        top: 10%;
    }
    .mainFg {
        top: 40%;
    }
}

@media (max-width: 576px) {
    .eventMvBox {
        top: 23%;
    }
    .bg-box {
        height: 43vh;
    }
    .mainTitle {
        top: 10%;
    }
    .mainFg {
        top: 35%;
    }
}

@media (max-width: 415px) {
    .bg-box {
        height: 40vh;
    }
}

.star {
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #fff;
    top: 10%;
    left: 30%;
    position: relative;
    transform-origin: 100% 0;
    animation: star-move 2s infinite ease-out;
    animation-direction: normal;
    opacity: 0;
    z-index: 100;
}

.star:after {
    content: '';
    position: absolute;
    top: 20%;
    left: -2%;
    border: 1px solid #f00;
    border-width: 1px 40px 1px 40px;
    border-color: transparent transparent transparent #fff;
    transform: rotate(-45deg) translate3d(1px, -1px, 0);
    transform-origin: 0% 100%;
    animation: shooting 2s infinite ease-out;
    animation-direction: normal;
    z-index: 100;
}

.star01 {
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #fff;
    top: 10%;
    left: 85%;
    position: relative;
    transform-origin: 100% 0;
    animation: star-move 1.5s infinite ease-out;
    animation-direction: normal;
    animation-delay: 1s;
    opacity: 0;
    z-index: 100;
}

.star01:after {
    content: '';
    position: absolute;
    top: 20%;
    left: -2%;
    border: 1px solid #f00;
    border-width: 1px 40px 1px 40px;
    border-color: transparent transparent transparent #fff;
    transform: rotate(-45deg) translate3d(1px, -1px, 0);
    transform-origin: 0% 100%;
    animation: shooting 1.5s infinite ease-out;
    animation-direction: normal;
    animation-delay: 1s;
    z-index: 100;
}

.blue01 {
    top: 10%;
    left: 78%;
    background: #4dabff;
    animation-delay: 2.8s;
}

.blue01:after {
    border-color: transparent transparent transparent #4dabff;
    animation-delay: 2.8s;
}

.blue {
    top: 10%;
    left: 35%;
    background: #4dabff;
    animation-delay: 3s;
}

.blue:after {
    border-color: transparent transparent transparent #4dabff;
    animation-delay: 3s;
}

@-webkit-keyframes shooting {
    0% {
        display: none;
    }
    80% {
        display: block;
        transform: scale(1) rotate(-45deg) translate(0px, 0px);
    }
    100% {
        transform: scale(0.5) rotate(-45deg) translate(0px, -1px);
    }
}

@-webkit-keyframes star-move {
    0% {
        display: none;
    }
    60% {
        display: block;
        opacity: 0;
        transform: scale(0) rotate(0) translate3d(0, 0, 0);
    }
    80% {
        opacity: 1;
        transform: scale(1) rotate(0) translate3d(-150px, 150px, 0);
    }
    100% {
        opacity: 0;
        transform: scale(1) rotate(0) translate3d(-200px, 200px, 0);
    }
}

.mainGpr {
    background-color: #a5bcdf;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 1.5s;
}

.gprTag {
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 70%;
}

.gprSelect {
    font-size: 14px;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
}

.gprPhone {
    border-radius: 10px;
    height: 25px;
    font-size: 14px;
    border: 1px solid black;
    padding: 0 !important;
    padding-left: 8px !important;
}

.gprFormArea h5 {
    color: white;
}

.gprContract {
    font-size: 14px;
    color: #120433;
}

.gprSubmitImg,
.eventBtn01 {
    width: 40%;
    cursor: pointer;
    transition: .1s;
    animation-name: btnAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes btnAnim {
    0% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;
    }
}

.gprSubmitImg:hover {
    transform: scale(1.1);
    opacity: 1;
}

@media (max-width: 768px) {
    .gprSubmitImg {
        width: 60%;
    }
    .gprContract {
        font-size: 12px;
        color: white;
    }
    .gprSelect {
        font-size: 12px;
        border-radius: 5px;
        height: 25px;
        text-align: center;
        border: 1px solid black;
    }
    .gprPhone {
        border-radius: 5px;
        height: 25px;
        font-size: 12px;
        border: 1px solid black;
    }
}

.gprOptionsOff {
    filter: grayscale(1);
    transform: scale(0.9);
}

.gprOptionFormOff {
    display: none !important;
}

.mainGpr:hover.mainGpr,
.normalGpr:hover.normalGpr {
    background-color: #6c8fc2;
    box-shadow: 0 0 10px #ffffff;
}

.gprContracthref {
    color: #120433;
}

.bottomNavImg {
    transform: scale(1.6);
    transform-origin: bottom;
}

.bottomNavImg:hover {
    transform: scale(2);
    transform-origin: bottom;
}

.navBtn {
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none !important;
    cursor: pointer;
}

.navBtn:hover {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none !important;
}

.bottomNavArea {
    position: fixed;
    background-color: #151b6e;
    bottom: 0px;
    z-index: 298;
    padding-bottom: 5px;
}

@media (max-width:768px) {
    .bottomNavArea {
        padding-bottom: 15px;
    }
}

.eventBtnBox {
    display: flex;
    justify-content: center;
}

.eventBtn01,
.eventBtn02,
.eventBtn03,
.eventBtn04,
.registerBtn {
    cursor: pointer;
    transition: .5s;
    z-index: 100;
}

.eventBtn01:hover,
.eventBtn02:hover,
.eventBtn03:hover,
.eventBtn04:hover,
.registerBtn:hover {
    filter: sepia(0.4);
}

.eventDetailsArea01,
.eventDetailsArea02,
.eventDetailsArea03,
.eventDetailsArea04 {
    position: fixed;
    top: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow-y: scroll !important;
}

.eventDetailsContent01,
.eventDetailsContent02,
.eventDetailsContent03,
.eventDetailsContent04 {
    border-radius: 10px;
    background-color: #192a62;
    outline: 3px solid #9effff;
    outline-offset: -2px;
    position: relative;
    margin-top: 60px !important;
    color: #ffffff;
}

.eventOff {
    display: none !important;
}

.navLeftArea {
    position: fixed;
    display: none !important;
    top: 0px;
    height: 100%;
    z-index: 299;
    background-color: rgba(0, 0, 0, 0.500);
}

.navLeftAreaContent {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    padding-top: 100px
}

@media(max-width:768px) {
    .navLeftAreaContent {
        width: 50%;
        padding-top: 75px
    }
    .eventDetailsContent01,
    .eventDetailsContent02,
    .eventDetailsContent03 {
        margin-top: 24px !important;
    }
}

.navChoice {
    padding: 10px 0px;
    margin: 0px 0px;
}

.navChoice a {
    color: black;
    text-decoration: none !important;
}

.navChoice a:hover {
    color: black;
    text-decoration: none !important;
}

.navChoice:hover {
    background-color: #dceaff;
}

.navMoreIconClose,
.navMoreIcon {
    display: none !important;
    cursor: pointer;
}

.navMoreDisplay {
    display: block !important;
}

.mainBody {
    margin-top: 40px;
}

@media (max-width:1000px) {
    .mainBody {
        margin-top: 60px;
    }
}

@media (max-width:768px) {
    .mainBody {
        margin-top: 50px;
    }
}

.normalGpr {
    border-radius: 10px;
    background-color: #a5bcdf;
    overflow: hidden;
    text-align: center;
    color: black;
    transition: 1.5s;
}

.normalGpr p {
    font-size: 18px;
    font-weight: 500;
    padding-top: 14px;
    color: black;
}

@media (max-width:768px) {
    .normalGpr p {
        font-size: 12px;
        font-weight: 500;
        padding-top: 14px;
    }
}

.normalGpr a {
    text-decoration: none !important;
}

th,
td {
    font-size: 12px;
}

.listTitle {
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-decoration: underline;
}

.bodyScrollOff {
    overflow-y: hidden !important;
}

.contentClose {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    line-height: 0;
}

.mainGprBounder a {
    text-decoration: none !important;
}

.bottomNavRow {
    padding: 0px 15%;
}

@media (max-width:1000px) {
    .bottomNavRow {
        padding: 0px 8%;
    }
}

@media (max-width:768px) {
    .bottomNavRow {
        padding: 0px 0%;
    }
}

.bottomNavRow a {
    text-decoration: none !important;
}

.freeKey {
    border-radius: 10px;
}

.hitWord {
    color: #fdff7a;
    font-weight: 700;
}

.hitWordW {
    color: #ff0000;
    font-weight: 700;
}

select {
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    padding-right: 14px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*兼容蘋果手機*/
    border: 1px solid #EBEBEB;
    width: 100px;
    height: 25px;
    line-height: 25px;
    /*防止緊緊靠在邊上*/
    text-indent: 2px;
    background-color: transparent;
}

.gfield_select {
    width: 98%;
    height: 25px !important;
    border-radius: 10px;
    border: 0px solid black;
    font-size: 14px;
    text-align: center;
    background-color: white;
}

.ginput_container_phone .gprPhone {
    width: 98%;
    height: 25px !important;
    border-radius: 10px;
    border: 0px solid black;
}

.gfield_checkbox {
    margin: 0px 0px;
    padding: 5px 0px;
    color: white;
}

.gfield_checkbox a {
    text-decoration: underline;
    color: #120433;
}

.gfield_checkbox a:hover {
    text-decoration: underline;
    color: white;
}

h6 {
    font-size: 16px!important;
}

@media (max-width:768px) {
    h6 {
        font-size: 12px!important;
    }
}

.formDisplayOff {
    display: none!important;
}

.formAnimation {
    animation-name: formAni;
    animation-duration: 1s;
}

@keyframes formAni {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%
    }
}

.navCloseIcon {
    cursor: pointer;
}

.gfield_select:focus,
.medium:focus,
.gfield_select:active,
.medium:active {
    outline: 1px solid #ff7a00;
}

.phone {
    padding: 0 !important;
    padding-left: 8px !important;
}

.formAnimation2 {
    animation-name: formAni;
    animation-duration: 0.5s;
}

.lineOff {
    display: none !important;
}